bs4==0.0.2
bert-score==0.3.13
beanie==2.1.0
bokeh==3.4.3
deepeval==3.8.9
evaluate==0.4.6
faiss-cpu==1.10.0
fastembed
giskard==2.19.1
groq==1.1.1
h2==4.3.0
kafka-python==2.3.0
langchain==1.2.10
langchain-community==0.4.1
langchain-core>=0.3.0
langchain-ollama==1.0.1
langgraph>=0.4.0
litellm==1.82.2
Markdown==3.10.2
minio==7.2.20
pymongo>=4.14.0
pipdeptree==2.31.0
pypdf==6.8.0
python-docx==1.2.0
qdrant-client==1.17.0
ragas==0.4.3
sentence-transformers==5.2.3
setuptools==65.5.0
umap-learn==0.5.11